<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="path/inc/total">

<head>
	<meta charset="UTF-8">
	<title>model/season</title>
	<style>
		table tr td img {
			width: 300px;
			height: 150px;
			padding: 10px;
		}
	</style>
</head>

<body>

</body>
<th:block layout:fragment="aaa">
	<h2>추가내용a</h2>
</th:block>
<th:block layout:fragment="bbb">
	<h2>추가내용b</h2>
</th:block>
<th:block layout:fragment="ccc">
	<h2>추가내용c</h2>
</th:block>

</html>