<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<table border="">
	<tr>
		<h2>아이디 비밀번호 확인</h2>
		<td>[[${id}]]</td>
	</tr>
	<tr>
		<td>[[${person2.id}]]</td>
	</tr>
	<tr>
		<td>[[${pw}]]</td>
	</tr>
	<tr>
		<td>[[${person2.pw}]]</td>
	</tr>
	<tr>
		<td>pname:[[${pname}]]</td>
	</tr>
	<tr>
		<td>person2.pname:[[${person2.pname}]]</td>
	</tr>
	<tr>
		<td>gender:[[${gender}]]</td>
	</tr>
	<tr>
		<td>person2.gender:[[${person2.gender}]]</td>
	</tr>
</table>
</body>
</html>