<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>수정 페이지</title>
</head>
<body>
	<h2>수정 페이지</h2>
	<form method="post" enctype="multipart/form-data" th:object="${dto}">
		<input type="hidden" th:field="*{id}"/>
		<table border="">
			<tr>
				<td>제목</td>
				<td><input type="text" th:field="*{title}"/></td>
			</tr>
			<tr>
				<td>작성자</td>
				<td><input type="text" th:field="*{pname}"/></td>
			</tr>
			<tr>
				<td>비밀번호</td>
				<td><input type="text" name="pw"/></td>
			</tr>
			<tr>
				<td>파일</td>
				<td><input type="file" th:field="*{mmff}"/></td>
			</tr>
			<tr>
				<td>내용</td>
				<td><textarea th:field="*{content}" cols="30" rows="10"></textarea></td>
			</tr>
			<tr>
				<td colspan="4" align="right">
					<button type="submit">수정</button>
					<a th:href="|/board/detail/${dto.id}?page=${page}|" th:text="뒤로"></a> 
				</td>
			</tr>
		</table>
	</form>
</body>
</html>